body{
    background-color: #00CBFF;
    font-family: Arial;
    background: url("fundo.jpg");
}

h1{
    color: white;
    font-size: 70px;
    margin-top: 10px;
    
    
}

p{
    color: white;
    font-size: 40px;
    margin: 0px;
    padding: 10px;
}

a{
    font-weight: bolder;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4px;
}

#img-pikachu{
    
}

#choque{
    background-color: rgba(187, 184, 0, 0.65);
   
}

#investida{
    background-color: rgba(248, 92, 2, 0.65);
}

#calda{
    background-color: rgba(0, 0, 0, 0.65);
}

.aumentar{
    font-size: 30px;
}

.box{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.424);
    width: 400px;
    padding: 20px;
}